<h1><%=@goal.content%></h1>

<form action="/goals/<%=@goal.id%>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  <label for="goal">Edit Goal</label>
  <input type="text" name="goal" value="" id="content">

  <br><br>
  Edit Subgoals for this Goal:
  <br><br>

  <%count = 1%>

  <%@goal.subgoals.each do |subgoal|%>
    <ul>
        <%=count%>. <label for="subgoal"><%=subgoal.content%></label>
        <input type="text" name="subgoals[subgoal<%=count%>]" value="<%=subgoal.content%>" id="subgoal<%=count%>">
      <%count = count+1%>
    </ul>
  <%end%>
  <br><br>
  <input type="submit" value="Edit">
</form>

<h2>Delete Goal</h2>

<form action="/goals/<%=@goal.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Goal">

</form>
