<h1><%=@goal.content%></h1>

<form action="/goals/<%=@goal.id%>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  <label for="goal">Edit Goal</label>
  <input type="text" name="goal" value="" id="content">


  <br><br>
  Edit Subgoals for this Goal:
  <br><br>

  <%@goal.subgoals.each do |subgoal|%>
    <ul>
      <li>
        <label for="subgoal"><%=subgoal.content%></label>
        <input type="text" name="subgoals[subgoal<%=+1%>]" value="<%=subgoal.content%>" id="subgoal">
      </li>
    </ul>
  <%end%>
  <br><br>
  <input type="submit" value="Edit">
</form>
