<div class="container">
  <h3>Goal:</h3>
  <br>

  <%=@goal.content%>
  <br><br>

  <h3>Subgoals for this goal</h3>
  <br>

  <%@goal.subgoals.each do |subgoal|%>
    <ul>
      <a href="/goals/subgoals/<%=subgoal.id%>"><%=subgoal.content%></a>
    </ul>
  <%end%>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <br>



</div>
<a href="/subgoals/new">Create more subgoals for your goals</a>
<br><br>
<a href="/goals/<%=@goal.id%>/edit">Edit Goal</a>
