<h1>Goal:</h1>

<%=@goal.content%>

<h2>Subgoals for this goal</h2>

<%@goal.subgoals.each do |subgoal|%>
  <ul>
    <a href="/goals/subgoal/<%=subgoal.id%>"><%=subgoal.content%></a>
  </ul>
<%end%>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>
<a href="/subgoals/new">Create more subgoals for your goals</a>
<br><br>
<a href="/goals/<%=@goal.id%>/edit">Edit Goal</a>
<a href="/goals">Back to Goals</a>
<a href="/show">Back to profile</a>
